

<ion-content  >
  <div class="back">
<!---- heading--->
  <div class="heading">
  <h2><b> Shopping List</b></h2>
</div>


<!-------Form to Add item--------->
<ion-card style="background-color:#a2eeeb;">
<div *ngIf="editItem===''">
  <div >
  
    <div  class="item">
    <ion-item>
    <ion-label >Item Name</ion-label>
    <ion-input     
     [(ngModel)]="newItem"  
     name="newItem"
     placeholder="" ></ion-input>
    </ion-item>
  </div>
  <div class="images">
  
    <ion-label>Item Image</ion-label>
    <ion-input type="file"  (change)="fileChangeEvent($event)"></ion-input>
  
</div>
</div>
<div class="add">
  <ion-button style="--background:#f3e2b3; font-weight: bold;" (click)=" addToList()" >
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>
</div>
</div>
</ion-card>
<!-------------Ends here--------------->


<!-------------Form to update-------------->
<div *ngIf="editItem!=''">
  <ion-item>
    <ion-label>Item Name</ion-label>
    <ion-input     
    [(ngModel)]="editItem" name="editItem"
     placeholder="item" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Edit List</ion-label>
    <ion-input  type="file" 
    (change)="fileChangeEvent($event)"></ion-input>
  </ion-item>
  <ion-button style="--background: #edc02c;position: relative;left: 80%; font-weight: bold;" (click)="editList(id,editItem)">
   Edit Item
  </ion-button>
</div>
<!----------Ends here------------>



<!------------Print List------------>
  <div >
    
    
        <h2 class="myitems">My items</h2>
        


      <ion-card style="background-color:#a2eeeb ;"  *ngFor="let k of arrayList,let i =index">
        <ion-card-header>
          <ion-label>{{k.item}}</ion-label>
          <ion-img [src]="k.url"></ion-img>
        </ion-card-header>
      
        <ion-card-content>
     <div class="edit">
      <ion-button  style="--background: #edc02c;"  (click)="editList(i,k.item)">
        <ion-icon name="create-outline"></ion-icon>
        </ion-button>
     </div>
     <div class="delete">
      <ion-button style="--background:#f03613 ;" (click)="delete(i)" >
        <ion-icon name="trash-outline"></ion-icon>
         </ion-button>
     </div>
        </ion-card-content>
      </ion-card>
  </div>
  <!-------End here--------->

</div>
</ion-content>
