ion-content{
  display: flex;
  width: 100%;
  height: 100%;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

// .item{
//   --background:#a2eeeb ;
// }

#container strong {
  font-size: 20px;
  line-height: 26px;

}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.edit{
  position: relative;
  left:80% ;
 
}
.delete{ 
  position: relative;
  left: 80%;

}
.add{
  position: relative;
  left: 80%;

}

.card1{
  border-radius: 15px 0px 25px 5px;
  
  background-color:#a2eeeb ;
}



.item{
  
   
    width: 80%;
    
    --background:#a2eeeb ;
    position: relative;
  left: 5%;
}
.images{
  top: 30%;
  position: relative;
  width: 80%;
  left: 5%;
}

.myitems{
  position: relative;
  
  
  color: #27b46e;
  font:bold ;

  left: 25%;
  align-items: center;
   color:  #27b46e;
   font-weight: bold
}
// .item{
//   padding-top: 40px;
// }

ion-img{
  --width:60%;
}

.heading{
  color: #27b46e;
  padding-left: 50px;

}
.back{
  background-color: white;
}
